@import "tailwindcss";

.font-jetbrains {
    font-family: 'JetBrains Mono', monospace;
}

.font-grotesk {
    font-family: "Space Grotesk", monospace;
}

@keyframes pulseDisappear {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@theme wiggle {
    --animate-wiggle: wiggle 1s infinite;

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(20deg);
        }
    }
}